// esto es un comentario para html
//-Esto es un comentario sólo para pug
//-     más comentario
//- -const page: 1;
//- -let saludo = "Hola";
//- -const charset = 'utf-8';
//- -const empresa = 'Colegio <strong>Tajamar</strong>';
//- -const aPaises = [{nombre:"España" id:"es"},{nombre:"Colombia" id:"co"},{nombre:"Francia" id:"fr"},{nombre:"Italia" id:"it"}];
-const aMenu = ["Home", "Portfolio", "Clientes", "Acerca de"]
-const aMenuP = [{nombre:"web" id:"web" description:"asde"},{nombre:"Mobile App´s" id:"apps" description:"asde"},{nombre:"IX / UI" id:"ui" description:"asde"}]

// Mixin estructuras qwe tienen forma de funciones (Se les puede añadir parámetros y tienen un nombre)

-let x = 5;
- x= x*x

//- -function suma(x,y){}
mixin itemMenu(item)
    li
        a(href="#"+item.id.toLowerCase() title=item.description) #{item.nombre}

doctype
html(lang=language) 
    head
        meta(charset=charset)
        title Hola Pug 
        link(rel="stylesheet", href="./css/style.css")
    body
        header(class="main-header")
            -if(page == 1){
            h1 #{saludo} Pug
            -}else{
            h1 #{saludo} - Continuación
            -}    
            nav.main-menu
                ul
                    each item in aMenu 
                        +itemMenu(item)
        section#inicio
            figure
                img(src="https://via.placeholder.com/500x350", alt="alt")   
            p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }
        section#portfolio     
            p Lorem ipsum dolor sit amet consectetur adipisicing elit.   
        section#clientes
            form(action="" method="get")        
                select(name="pais")
                    //- -for (let i=0; i<aPaises.length; i++;) {
                    //- -let item =aPaises[i]
                    //- option(value=item.id) #{item.nombre}
                    //-  -}
                    //-each item in aPaises
                        //-  option(value=item.id title) #{item.nombre}
        section#portfolio     
            header 
                h2 Portfolio
            nav 
                ul
                    each item in aMenuP
                        +itemMenu(item)
        section#portfolio     
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus blanditiis amet ea autem. Expedita quasi dolor omnis rem. Commodi eos ex consequuntur earum, assumenda asperiores inventore est ipsam recusandae odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, incidunt. Rem modi quia reiciendis labore, odio alias praesentium harum aspernatur, eius, quisquam dolores repellendus officiis quibusdam quaerat vero sint? Quas.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.                
        footer.main-footer#main-footer
            address &copy; #{autor}  
            div
                small!= empresa
            div    
                small #{empresa}    