// esto es un comentario para html
//-Esto es un comentario s칩lo para pug
    m치s comentario
-const page: 1;
-let saludo = "Hola";
-const charset = 'utf-8';
-const empresa = 'Colegio <strong>Tajamar</strong>';
-const aPaises = ["Espa침a","Colombia","Francia","Italia"];

doctype
html(lang=language) 
    head
        meta(charset=charset)
        title Hola Pug 
        link(rel="stylesheet", href="./css/style.css")
    body
        header(class="main-header")
            -if (page == 1) {
            h1 #{saludo} Pug
            -} else {
            h1=saludo - Continuaci칩n
            -}    
        section
            figure
                img(src="https://via.placeholder.com/500x350", alt="alt")     
        section
            form(action="" method="method")        
                select#(name="pais")
                -for i=1; 1<aPaises.length; i++; {
                    option(value="")

                -}
        section
             p Interpolar variables. Poner una variable ya establecida debemos ir a options.js # { variables }
        section     
             p. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Cupiditate quibusdam a quidem, accusamus, vero ipsa corporis 
                voluptate autem, repellat labore laborum non quas commodi! 
                Nam, sapiente. Perferendis mollitia consequuntur impedit!
                .info Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        footer.main-footer#main-footer
            address &copy; #{autor}  
            div
                small!=empresa
            div    
                small #{empresa}    